[submodule "Assets/ExternalPackages/unity-courtyard"]
	path = Assets/ExternalPackages/unity-courtyard
	url = git@github.com:matthewoots/unity-courtyard.git
[submodule "Assets/ExternalPackages/unity-standard-environment"]
	path = Assets/ExternalPackages/unity-standard-environment
	url = git@github.com:matthewoots/unity-standard-environment.git
[submodule "Assets/ExternalPackages/graphy"]
	path = Assets/ExternalPackages/graphy
	url = git@github.com:Tayx94/graphy.git
